

#opening{
    font-size: 6vw;
    font-weight: bolder;
}

#pitty0{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pitty1{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pitty2{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pitty3{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#message1{
    background-image: src(./assignment_assets/message.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}
#message2{
    background-image: src(./assignment_assets/message.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

#message3{
    background-image: src(./assignment_assets/message1.png);
    background-repeat: no-repeat;
}
#message4{
    background-image: src(./assignment_assets/message1.png);
    background-repeat: no-repeat;
}
#message5{
    background-image: src(./assignment_assets/message.png);
    background-repeat: no-repeat;
}
#message6{
    background-image: src(./assignment_assets/message1.png);
    background-repeat: no-repeat;
}
#message7{
    background-image: src(./assignment_assets/message.png);
    background-repeat: no-repeat;
}
#pitty4{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(90%);
}

#pitty5{
    background-attachment: fixed;
    background-image: src(./assignment_assets/pitty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(100%);
    filter: blur(100%);
}
#underlight{
    background-image: src(./assignment_assets/underlight.jpg);
    height: 160vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

#data1{
    background-image: src(https://github.com/HowieT0/HowieT0.github.io/blob/a028046a765f10633df6a3d780f9d2f1d9f46abd/assignment4_assets/data1.jpeg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    top: 20vh;
}
#data2{
    background-image: src(./assignment_assets/data2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 20vh;
}
